<h4 class="text-center">New Invoice</h4>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  @if(vehicleForm.errors?.['startKmsGreater']){
  <mat-error
    >Start kilometers should not be greater than end kilometers.</mat-error
  >
  } @if(vehicleForm.errors?.['dropDateBeforePickUp']){
  <mat-error>Drop date should not be earlier than the pick-up date.</mat-error>
  } @if(vehicleForm.errors?.['dropTimeBeforePickUp']){
  <mat-error>Drop time should not be earlier than the pick-up time.</mat-error>
  }
  <div class="flex flex-wrap flex-row justify-between gap-2 p-2">
    <div class="flex flex-auto flex-col gap-3">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Invoice Number</mat-label>
          <input
            matInput
            value=""
            type="number"
            formControlName="invoiceNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Select City</mat-label>
          <mat-select formControlName="city" (selectionChange)="onCityChange()">
            @for (city of cities; track city) {
            <mat-option [value]="city.value">{{ city.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (availableVehicles.length) {
      <div>
        <mat-form-field class="w-full">
          <mat-label>Select Car</mat-label>
          <mat-select formControlName="vehicle">
            @for (car of availableVehicles; track car) {
            <mat-option [value]="car.vehicle">{{ car.vehicle }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      <div>
        <mat-form-field class="w-full">
          <mat-label>Starting KMs</mat-label>
          <input matInput value="" type="number" formControlName="startKms" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Ending KMs</mat-label>
          <input matInput value="" type="number" formControlName="endKms" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Pick-up Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickUpDate"
            [matDatepickerFilter]="dateFilter"
            formControlName="pickUpDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickUpDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickUpDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Pick-up Hour</mat-label>
          <mat-select formControlName="pickUpTime">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{
              hour
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Drop Date</mat-label>
          <input
            matInput
            [matDatepicker]="dropDate"
            [matDatepickerFilter]="dateFilter"
            formControlName="dropDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dropDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #dropDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Drop Hour</mat-label>
          <mat-select formControlName="dropTime">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{
              hour
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-auto flex-col gap-3">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Enter Parking Charges</mat-label>
          <input
            matInput
            value=""
            type="number"
            formControlName="parkingCharges"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Enter Toll Charges</mat-label>
          <input
            matInput
            value=""
            type="number"
            formControlName="tollCharges"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Driver Name</mat-label>
          <input matInput value="" type="text" formControlName="driverName" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Driver Night Allowance</mat-label>
          <input
            matInput
            value=""
            type="number"
            formControlName="driverNightAllowance"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Vehicle Number</mat-label>
          <input
            matInput
            value=""
            type="text"
            formControlName="vehicleNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Customer Name</mat-label>
          <input matInput value="" type="text" formControlName="custName" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>Company Name</mat-label>
          <input matInput value="" type="text" formControlName="companyName" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-full">
          <mat-label>invoice date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [matDatepickerFilter]="dateFilter"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pt-3">
    <button mat-flat-button>Generate Invoice</button>
  </div>
</form>
<!-- <table *ngIf="invoices.length > 0">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>City</th>
      <th>Start KMs</th>
      <th>End KMs</th>
      <th>Total Cost</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (invoice of invoices; track $index) {
    <tr>
      <td>{{ invoice.vehicle }}</td>
      <td>{{ invoice.city }}</td>
      <td>{{ invoice.startKms }}</td>
      <td>{{ invoice.endKms }}</td>
      <td>{{ invoice.totalCost }}</td>
      <td>{{ invoice.startTime }}</td>
      <td>{{ invoice.endTime }}</td>
      <td>
        <button (click)="onEdit($index)">Edit</button>
        <button (click)="onDelete($index)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table> -->
