<h4>New Invoice</h4>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-wrap flex-row justify-start gap-2 p-2">
    <div>
      <mat-form-field>
        <mat-label>Select City</mat-label>
        <mat-select formControlName="city" (selectionChange)="onCityChange()">
          @for (city of cities; track city) {
          <mat-option [value]="city.value">{{ city.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    @if (availableVehicles.length) {
    <div>
      <mat-form-field>
        <mat-label>Select Car</mat-label>
        <mat-select formControlName="vehicle">
          @for (car of availableVehicles; track car) {
          <mat-option [value]="car.vehicle">{{ car.vehicle }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    }

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Starting KMs</mat-label>
        <input matInput value="" type="number" formControlName="startKms" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Ending KMs</mat-label>
        <input matInput value="" type="number" formControlName="endKms" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Starting Time</mat-label>
        <input matInput value="" type="time" formControlName="startTime" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Ending Time</mat-label>
        <input matInput value="" type="time" formControlName="endTime" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Enter Parking Charges</mat-label>
        <input
          matInput
          value=""
          type="number"
          formControlName="parkingCharges"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Enter Toll Charges</mat-label>
        <input matInput value="" type="number" formControlName="tollCharges" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Driver Name</mat-label>
        <input matInput value="" type="text" formControlName="driverName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicle Number</mat-label>
        <input matInput value="" type="text" formControlName="vehicleNumber" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>invoice date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [matDatepickerFilter]="dateFilter"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <button mat-flat-button>Generate Invoice</button>
  </div>
</form>
<h3 class="text-center py-3">Invoices</h3>
@if(invoiceListFromDb$ | async; as invoiceListData) {
@if(invoiceListData.length) {
<!-- {{ invoiceListData | json }} -->
<div class="p-2">
  <table mat-table [dataSource]="invoiceListData" class="mat-elevation-z8">
    <!-- Vehicle Column -->
    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef>Vehicle</th>
      <td mat-cell *matCellDef="let element">{{ element.vehicle }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <!-- startKms Column -->
    <ng-container matColumnDef="startKms">
      <th mat-header-cell *matHeaderCellDef>Starting Kms</th>
      <td mat-cell *matCellDef="let element">{{ element.startKms }}</td>
    </ng-container>

    <!-- endKms Column -->
    <ng-container matColumnDef="endKms">
      <th mat-header-cell *matHeaderCellDef>Ending Kms</th>
      <td mat-cell *matCellDef="let element">{{ element.endKms }}</td>
    </ng-container>

    <!-- startTime Column -->
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Starting Time</th>
      <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
    </ng-container>

    <!-- endTime Column -->
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef>Ending Time</th>
      <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
    </ng-container>

    <!-- parkingCharges Column -->
    <ng-container matColumnDef="parkingCharges">
      <th mat-header-cell *matHeaderCellDef>Parking Charges</th>
      <td mat-cell *matCellDef="let element">{{ element.parkingCharges }}</td>
    </ng-container>

    <!-- tollCharges Column -->
    <ng-container matColumnDef="tollCharges">
      <th mat-header-cell *matHeaderCellDef>Toll Charges</th>
      <td mat-cell *matCellDef="let element">{{ element.tollCharges }}</td>
    </ng-container>

    <!-- totalCost Column -->
    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef>Total Cost</th>
      <td mat-cell *matCellDef="let element">{{ element.totalCost }}</td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex-flex-row justify-between">
          <button mat-button (click)="onInvoiceEdit(element)">Edit</button>
          <button mat-button (click)="onDelete(element)">Delete</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
} }
<table *ngIf="invoices.length > 0">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>City</th>
      <th>Start KMs</th>
      <th>End KMs</th>
      <th>Total Cost</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (invoice of invoices; track $index) {
    <tr>
      <td>{{ invoice.vehicle }}</td>
      <td>{{ invoice.city }}</td>
      <td>{{ invoice.startKms }}</td>
      <td>{{ invoice.endKms }}</td>
      <td>{{ invoice.totalCost }}</td>
      <td>{{ invoice.startTime }}</td>
      <td>{{ invoice.endTime }}</td>
      <td>
        <button (click)="onEdit($index)">Edit</button>
        <button (click)="onDelete($index)">Delete</button>
      </td>
    </tr>
    }
    <!-- <tr *ngFor="let invoice of invoices; let i = index">
      <td>{{ invoice.vehicle }}</td>
      <td>{{ invoice.city }}</td>
      <td>{{ invoice.startKms }}</td>
      <td>{{ invoice.endKms }}</td>
      <td>{{ invoice.totalCost }}</td>
      <td>{{ invoice.startTime }}</td>
      <td>{{ invoice.endTime }}</td>
      <td>
        <button (click)="onEdit(i)">Edit</button>
        <button (click)="onDelete(i)">Delete</button>
      </td>
    </tr> -->
  </tbody>
</table>

@if (dataSource.length) {

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Vehicle Column -->
  <ng-container matColumnDef="vehicle">
    <th mat-header-cell *matHeaderCellDef>Vehicle</th>
    <td mat-cell *matCellDef="let element">{{ element.vehicle }}</td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>city</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <!-- startKms Column -->
  <ng-container matColumnDef="startKms">
    <th mat-header-cell *matHeaderCellDef>startKms</th>
    <td mat-cell *matCellDef="let element">{{ element.startKms }}</td>
  </ng-container>

  <!-- endKms Column -->
  <ng-container matColumnDef="endKms">
    <th mat-header-cell *matHeaderCellDef>endKms</th>
    <td mat-cell *matCellDef="let element">{{ element.endKms }}</td>
  </ng-container>

  <!-- startTime Column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>startTime</th>
    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
  </ng-container>

  <!-- endTime Column -->
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef>endTime</th>
    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
  </ng-container>

  <!-- parkingCharges Column -->
  <ng-container matColumnDef="parkingCharges">
    <th mat-header-cell *matHeaderCellDef>parkingCharges</th>
    <td mat-cell *matCellDef="let element">{{ element.parkingCharges }}</td>
  </ng-container>

  <!-- tollCharges Column -->
  <ng-container matColumnDef="tollCharges">
    <th mat-header-cell *matHeaderCellDef>tollCharges</th>
    <td mat-cell *matCellDef="let element">{{ element.tollCharges }}</td>
  </ng-container>

  <!-- totalCost Column -->
  <ng-container matColumnDef="totalCost">
    <th mat-header-cell *matHeaderCellDef>totalCost</th>
    <td mat-cell *matCellDef="let element">{{ element.totalCost }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
}
