<!-- <pre>{{ selectedInvoice$ | async | json }}</pre> -->
@if ((selectedInvoice$ | async); as invoice) {
<div class="flex flex-col p-6">
  <section class="flex flex-row justify-between">
    <div>
      <h4>
        Morya Tours & Travels
        <div class="text-sm pt-1">Mobile: 985087 3934 | 888853 3745</div>
        <div class="text-sm">{{ "nilesh.awate01@gmail.com" }}</div>
        <div class="text-sm pt-6">Address:</div>
        <div class="text-sm">Premlok Park, Chinchwad</div>
        <div class="text-sm">Pune, 411 033</div>
      </h4>
    </div>
    <div>
      <p>
        <span class="block">Invoice No: {{ invoice.invoiceNumber }}</span>
        <span class="block">{{ invoice.invoiceDate | date }}4</span>
      </p>
    </div>
  </section>
  <section class="py-5">
    <span class="block">To,</span>
    <span class="block">{{ invoice.custName }}</span>
    <span class="block">{{ invoice.companyName }}</span>
  </section>
  <!-- <section class="py-8">
    <table class="w-full text-sm">
      <thead>
        <tr>
          <th class="border border-gray-300 p-4">S.No</th>
          <th class="border border-gray-300 p-4">Particulars</th>
          <th class="border border-gray-300 p-4">Vehicle No</th>
          <th class="border border-gray-300 p-4">Model</th>
          <th class="border border-gray-300 p-4">Starting Date</th>
          <th class="border border-gray-300 p-4">Closing Date</th>
          <th class="border border-gray-300 p-4">Starting Time</th>
          <th class="border border-gray-300 p-4">Ending TIme</th>
          <th class="border border-gray-300 p-4">Starting KM</th>
          <th class="border border-gray-300 p-4">Ending KM</th>
          <th class="border border-gray-300 p-4">Total KM</th>
          <th class="border border-gray-300 p-4">Extra KM</th>
          <th class="border border-gray-300 p-4">Extra Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-4">1</td>
          <td class="border border-gray-300 p-4">{{ invoice.particulars }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.vehicleNo }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.model }}</td>
          <td class="border border-gray-300 p-4">
            {{ invoice.pickupDate | date }}
          </td>
          <td class="border border-gray-300 p-4">
            {{ invoice.dropDate | date }}
          </td>
          <td class="border border-gray-300 p-4">{{ invoice.pickupTime }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.dropTime }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.startingKms }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.endingKms }}</td>
          <td class="border border-gray-300 p-4">{{ invoice.totalKms }}</td>
          <td class="border border-gray-300 p-4">
            {{ invoice.totalExtraKms }}
          </td>
          <td class="border border-gray-300 p-4">
            {{ invoice.totalExtraHrs }}
          </td>
        </tr>
      </tbody>
    </table>
  </section> -->
  <section>
    <div class="flex flex-row justify-between">
      <div class="border border-black border-r-0 flex flex-col w-2/5">
        <div class="p-2 border-b border-black">Particulars</div>
        <div class="p-3">
          <span class="block text-sm">{{ invoice.particulars }}</span>
        </div>
      </div>
      <div class="border border-black flex flex-col w-full">
        <div class="border-b border-black p-2">Vehicle Details</div>
        <section class="flex flex-row justify-between">
          <div class="flex flex-col w-2/3 border-r border-black">
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Vehicle No</div>
              <span> {{ invoice.vehicleNo }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Model</div>
              <span> {{ invoice.model }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Starting Date</div>
              <span> {{ invoice.pickupDate | date }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Closing Date</div>
              <span> {{ invoice.dropDate | date }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Starting Time</div>
              <span> {{ invoice.pickupTime }} </span>
            </div>
            <div class="p-2">
              <div class="inline-block text-sm">Ending TIme</div>
              <span> {{ invoice.dropTime }} </span>
            </div>
          </div>
          <div class="flex flex-col w-1/2">
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Starting KM</div>
              <span> {{ invoice.startingKms }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Ending KM</div>
              <span> {{ invoice.endingKms }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Total KM</div>
              <span> {{ invoice.totalKms }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Extra KM</div>
              <span> {{ invoice.totalExtraKms }} </span>
            </div>
            <div class="border-b border-black p-2">
              <div class="inline-block text-sm">Extra Hours</div>
              <span> {{ invoice.totalExtraHrs }} </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section class="pt-5">
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">First 80 Kms/8 Hrs</div>
      <div class="p-1">{{ invoice.defaultCost | currency : "INR" }}</div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">
        Extra KMs ( {{ invoice.perExtraKmsRate | currency : "INR" }} Per KM)
      </div>
      <div class="p-1">
        {{ invoice.totalExtraKmsCost | currency : "INR" }}
      </div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">
        Extra HRs ( {{ invoice.perExtraHrsRate | currency : "INR" }} Per Hr)
      </div>
      <div class="p-1">
        {{ invoice.totalExtraHrsCost | currency : "INR" }}
      </div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">
        Airport Parking, Toll and Taxes
      </div>
      <div class="p-1">
        {{ invoice.totalExtraCharges | currency : "INR" }}
      </div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">
        Driver's Night Allowance
      </div>
      <div class="p-1">
        {{ invoice.driverAllowance | currency : "INR" }}
      </div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="border-r border-black basis-1/2 p-1">Total</div>
      <div class="p-1">
        {{ invoice.totalCost | currency : "INR" }}
      </div>
    </div>
    <div class="flex flex-row justify-between w-2/3 border border-black">
      <div class="w-full p-1 italic text-right">
        {{ invoice.totalCost | indianRupeesToWords }}
      </div>
    </div>
  </section>
  <section>
    <div class="py-3">
      <strong>PAN NO:</strong>
      <span>AFWPA0012P</span>
    </div>
  </section>
</div>
}
